{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": true,
    "quotes": true,
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always",
    "rangeStart": 0
}
